.howItWorksSection {
  position: static;
  width: 920px;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 0px;
  margin: 200px 0px;
}

.title {
  position: static;
  width: 920px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 0px;
  margin: 40px 0px;

  color: rgb(255, 255, 255);
  font-size: 52px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 2%;
  text-align: center;
  align-self: stretch;
  flex-grow: 0;
}

.content {
  position: static;
  width: 920px;
  height: 462px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36;
  padding: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 40px 0px;
}

.instruction {
  position: static;
  width: 920px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  margin: 36px 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.innerFrame {
  position: static;
  width: 920px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
  margin: 16px 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.instructionTitle {
  font-size: 30px;
  font-weight: 700;
  color: rgb(229, 229, 230);
  line-height: 140%;
  text-align: left;
}

.number {
  width: 30px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px 0px 0px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(15, 17, 29);
  border-radius: 50%;
  text-align: center;
  margin: 0px 16px;
}

.numberBackground {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(117, 137, 238);
  border-radius: 50%;
  padding: 11.36px 11.36px 11.36px 10px;
  position: absolute;
  z-index: 1;
}

.number span {
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.numberText {
  width: 5.39px;
  height: 12.41px;

  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11.36px 0px;
  position: relative;
  z-index: 2;
}

.description {
  position: static;
  width: 920px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  color: rgb(229, 229, 230);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.descriptionText {
  position: static;
  width: 874px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px 0px 68px;

  color: rgb(150, 151, 156);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 10px;
}
