.howItWorksSection {
  width: 920px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 52px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: 15px;
}

/* Instruction styles */
.instruction {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.innerFrame {
  display: flex;
  align-items: center;
  gap: 16px;
}

.numberBackground {
  width: 30px;
  height: 30px;
  background: rgb(117, 137, 238);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberText {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.instructionTitle {
  font-size: 30px;
  font-weight: 700;
  color: rgb(229, 229, 230);
}

.descriptionText {
  font-size: 18px;
  line-height: 140%;
  color: rgb(150, 151, 156);
  margin-left: 48px;
}

@media (max-width: 1300px) {
  .howItWorksSection {
    width: 366px;
    margin: 200px auto;
    text-align: center;
  }

  .title {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 32px;
    text-align: left;
  }

  .content {
    gap: 28px;
    margin-left: 0px;
    margin-top: -40px;
  }

  .numberBackground {
    width: 22px;
    height: 22px;
  }

  .numberText {
    font-size: 14px;
  }

  .instructionTitle {
    font-size: 20px;
    line-height: 30px;
  }

  .descriptionText {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    width: 305px;
    margin-left: 40px;
    margin-top: -10px;
  }
}
