@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

#root,
html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 17, 29); /* Apply solid background */
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto; /* Center container */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
