.container {
  position: static;
  width: 920px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  padding: 0px;
  margin: 200px auto;
}

.titleContainer {
  position: static;
  width: 920px;
  height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 56px 0px;
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 2%;
  text-align: center;
}

.content {
  position: static;
  width: 800px;
  height: 531px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 56px 0px;
}

.chatFrame1 {
  position: static;
  width: 800px;
  height: 148px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 28px 0px;
}

.chatFrame2 {
  position: static;
  width: 800px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 28px 0px;
}

.chatFrame3 {
  position: static;
  width: 800px;
  height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  padding: 0px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 28px 0px;
}

.cFrameContent1 {
  position: static;
  width: 358px;
  height: 148px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.img {
  position: relative;
  width: 92px;
  height: 92px;
}

.textBubble {
  position: relative;
  width: 242px;
  height: 104px;
}

@media (max-width: 600px) {
  .contentFrame {
    width: 100%;
    padding: 0 20px;
  }
}
