.container {
  width: 100%;
  height: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  margin: 200px 0;
}

.titleContainer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
}

.titleText {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 2%;
  text-align: center;
}

.smallerText {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  color: rgb(150, 151, 156);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.emailForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 920px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 24px;
  border-radius: 12px;
  background: rgb(31, 32, 50);
  margin: 0 auto;
}

.placeholder {
  width: 872px;
  height: 26px;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  margin: 0 10px;
  color: rgb(123, 121, 137);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  background: none;
  border: none;
  outline: none;
}

.submitButton {
  position: absolute;
  right: 14px;
  width: 200px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgb(72, 68, 213) 8.928%,
    rgb(132, 128, 255) 108.333%
  );
  cursor: pointer;
}

.submitButtonText {
  width: 160px;
  height: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1%;
}
