/* Navbar Container */
.navbar {
  position: absolute;
  width: 1120px;
  height: 28px;
  left: 160px;
  top: 48px;

  /* Layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Nav Links Container */
.navLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 4px;
  margin: 0 40px;
}
