.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 130px 0 130px;
  background-color: rgb(15, 17, 29);
}

.navLinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-top: 4px;
  margin: 0 40px;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

@media (max-width: 1300px) {
  .navbar {
    padding: 20px 35px 0 20px;
  }

  .logo {
    margin-right: auto;
    padding-left: 10px;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 20px;
    width: auto;
    padding: 10px;
  }
  .navLinks.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
